<ion-view title='登录'>
	<style type="text/css">
		.back{
			background: #f6f6f6;
		}
		
		
	</style>
	<ion-content class='back'>
		<div class="list list-inset">
			<div style="height: 0.5rem;background: #f6f6f6;"></div>
		
		  <label class="item item-input">
		    <input type="text" placeholder="请输入用户名/手机号">
		  </label>
		 <div style="height: 0.5rem;background: #f6f6f6;"></div>
		  <label class="item item-input">
		    <input type="text" placeholder="请输入密码">
		  </label>
		  
		</div>
		<span style="float: right;margin-right: 0.5rem;color: ;">忘记密码</span>
		<button class="button button-positive button-block">登录</button>
		
		
		
	</ion-content>
	
</ion-view>